.DS_Store        

.idea/             
.vscode/         
*.sublime-*        
*.swp             
*.swo              

tmp/
*.log

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage

build/
*.egg-info/